<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
    		 <div data-view="WorldClock" class="widget widget-world-clock"></div>
       </li>
  </ul>
</div>